
// Preset Color Styles
@import "colors/presets";

// Global Styles
@import "global";

// Feature Styles
@import "feature";

// Service Area
@import "service";

// Navbar
@import "navbar";

// Hero Slider Area
@import "hero-area";

// Team Area
@import "team";

// Counter Area
@import "counter";

// Portfolio Area
@import "portfolio";

// Pricing Area
@import "pricing";

// Blog Area
@import "blog";

// Testimonial Area
@import "testimonial";

// Contact
@import "contact";

// Contact Area
@import "footer";
