div.banks-banner {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  span.bank-type-icon {
    padding: 5px;
  }

  div.add-bank-account-button {
    padding-top: 20px;
  }
}

div.banks-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}

div.bank-account-card {
  padding: 8px;
  display: flex;
  justify-content: space-evenly;
}