div.banks-banner {
  width: 100%;
  display: flex;
  justify-content: center;

  span.bank-type-icon {
    padding: 5px;
  }
}

div.banks-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}

div.bank-account-card {
  padding: 8px;
  display: flex;
  justify-content: space-evenly;
}