div.ant-picker-calendar-mode-switch label {
  display: none !important;
}

div.book-me-calendar {
  display: flex;
  justify-content: space-evenly;

  div.calendar-div {
    width: 75%;
  }

  div.selector-div {
    width: 20%;
  }
}