.booking-option-container {
  padding: 15px;
}

div.book-me-drawer{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  & .booking-option-container{
    margin-bottom: 1%;
  }

  div.dns-panel {
    padding-top: 8px;
    text-align: center;
    border:1px solid lightgrey;
    margin-bottom: 16px;
  }
}

.note-editor {
  width: 85%;

  .note-editor-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 5px;
  }
}

div.buttons-div {
  div.buttons {
    paddingTop: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & button {
      margin: 10px;
    }
  }
}

div.booking-card {
  color: white;
  background-color: #6ECEDA;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 3px;
  width: 220px;
  padding: 1vh 1vw 1vh 1vw;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(85, 85, 85, 0.08),
  0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
  transition: all 0.2s ease-in-out;
  text-align: center;

  &:hover {
    transform: scale(1.05);
  }

  div.invitee-div {
    color: #2f54eb;
  }
}