.booking-option-container {
  padding: 15px;
}

.book-me-drawer{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  & .booking-option-container{
    margin-bottom: 1%;
  }
}

.note-editor {
  height: 80px;
  width: 85%;

  .note-editor-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 5px;
  }
}