div.ant-picker-calendar-mode-switch label {
  display: none !important;
}

div.book-me-calendar {
  display: flex;
  justify-content: space-evenly;

  div.calendar-div {
    width: 45%;
  }

  div.selector-div {
    width: 50%;
    max-height: 50vh;
    display: flex;
    justify-content: center;
    overflow-y: scroll;

    div.slots {
      display: flex;
      flex-direction: column;

      div.slot-card {
        width: 300px;
        display: flex;
        justify-content: center;

        div.slot {
          color: white;
          grid-template-rows: 1fr 1fr 1fr 1fr;
          margin: 3px;
          width: 220px;
          padding: 1vh 1vw 1vh 1vw;
          border-radius: 8px;
          box-shadow: 0 1px 2px 0 rgba(85, 85, 85, 0.08),
          0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
          transition: all 0.2s ease-in-out;
          text-align: center;

          &:hover {
            transform: scale(1.05);
            cursor: pointer;
          }
        }

        div.slot-button {
          padding-top: 12px;
        }
      }
    }
  }
}

div.enter-details {
  padding-left: 10px;
  padding-right: 10px;

  div.enter-names {
    display: flex;
    justify-content: space-evenly;
  }

  div.location {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  div.note {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  div.add-guest-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  div.schedule-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}