@import (reference) '../pages.style.less';

.punch-card-page {
  .pages-property(unset);

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div.banner {
    img.banner-pic {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }

  div.events-card {
    border-radius: 8px;
    padding: 10px;
    background-color: #e6faff;
  }
}
