.setting {
  background: #fff;
  margin: 5vh 15vw;
  padding: 1vh 2vw;
  min-height: 90vh;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08),
    0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
}

.labels {
  background: #fff;
  margin: 5vh 15vw;
  padding: 1vh 2vw;
  min-height: 90vh;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08),
    0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
}

.project {
  background: #fff;
  margin: 5vh 15vw;
  padding: 1vh 2vw;
  min-height: 90vh;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08),
    0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
  
  .project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e6ed;

    .project-control {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  .project-content {
    display: flex;
  }
}

.todo {
  background: #fff;
  margin: 5vh 15vw;
  padding: 1vh 2vw;
  min-height: 90vh;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08),
    0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
  .todo-header {
    border-bottom: 1px solid #e0e6ed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .add-todo-button {
      &:hover {
        color: @primary-color;
        cursor: pointer;
      }
    }
  }

  .todo-panel {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.add-group-page {
  background: #fff;
  margin: 5vh 15vw;
  padding: 1vh 2vw;
  min-height: 90vh;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08),
    0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
}

.groups-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.group-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-page-card {
  background: #fff;
  margin: 5vh 2vw 5vh 2vw;
  width: 380px;
  padding: 1vh 2vw 1vh 2vw;
  height: 40vh;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08),
    0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  .group-title {
    height: 40px;
    border-bottom: 1px solid #e0e6ed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .group-operation .group-setting {
      text-align: right;
      padding: 0;
      margin-left: 14px;
    }
  }
  .group-users {
    flex-grow: 1;
    overflow-y: auto;
  }
  .group-users .user-item {
    height: 52px;
    width: 100%;
    padding: 10px 10px;
    border-bottom: 1px solid #e0e6ed;
  }
  &:hover {
    transform: scale(1.05);
  }
}
