@import (reference) '../pages.style.less';

div.bank-account-page {
  .pages-property(unset);

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.change-balance-memo {
  padding-top: 10px;
}

div.change-balance-button {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}
