@import '~antd/dist/antd.less';

.App {
  height: 100vh;
}

.layout {
  min-height: 100vh;
}

/* ----------------------Header ---------------------- */
.header {
  background: @primary-color;

  padding: 0 15px 0 30px;
  height: 50px;
  line-height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

/* ----------------------search bar---------------------- */
.search-box {
  width: 100%;

  input {
    border-radius: 0 !important;
  }
}

//used for extend search bar when focused
.search-box {
  .ant-input-affix-wrapper-focused {
    width: 90% !important;
  }

  //search bar default width
  .ant-input-search {
    width: 30%;
  }
}

.search-box .ant-input {
  background: white;
  border-radius: 15px;
}

.search-box .ant-input:hover {
  outline: none;
}

.search-box .ant-input:focus {
  outline-color: @primary-color;
  background: white;
}

.header-icon {
  width: 200px;
}
/* ----------------------Body---------------------- */
.content {
  height: 95%;
}

.ant-popover-message {
  max-width: 180px;
}

.draggable-projects {
  padding-left: 48px;
}

.popover-control-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-item-has-space {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sub-tag-list {
  display: flex;
  align-items: center;
}
