.input-search-box {
    width: 250px !important;
}

.search-result {
    padding: 1rem 1rem;
    display: flex;
    width: 100%;
    height: 80px;
}

.add-group {
    padding-left: 48px;
    text-align: center;
}

.add-project {
    text-align: center;
    padding-bottom: 0.5em;
    margin-left: 10px;
}

.add-note {
    text-align: center;
    padding-bottom: 0.5em;
    margin-left: 10px;
}